if SHIELD_CALDERA_LEFT

config ZMK_KEYBOARD_NAME
    default "Caldera"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CALDERA_LEFT || SHIELD_CALDERA_RIGHT

config ZMK_SPLIT
    default y

endif